<a href="https://colab.research.google.com/github/GabrielaFranchi/GabrielaFranchi/blob/main/Meu_primeiro_algoritmo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Operadores Aritméticos

In [5]:
#Adição
10+2

12

In [6]:
#Subtração
10-2

8

In [7]:
#Multiplicação
10*2

20

In [8]:
#Divisão
10/2

5.0

In [13]:
#Divisão inteira
10//2

5

In [14]:
#Resto da divisão
11 % 2

1

In [10]:
#Potenciação
10**2

100

#Operadores Relacionais

In [11]:
#Menor
10<2

False

In [12]:
#Menor ou igual
10<=2

False

In [15]:
#Maior
10>2

True

In [16]:
#Maior ou igual
10 >= 2

True

In [17]:
#Igual
7 == 7

True

In [19]:
#Diferente
7 != 7

False

#Operações Lógicas


* And
* Or
* Not

Tabela Verdade

And

In [20]:
print (10 > 2 and 4 < 6) # V and V - V
print (10 > 2 and 4 > 6) # V and F - F
print (10 < 2 and 4 < 6) # V and F - F
print (10 < 2 and 4 > 6) # F and F - F

True
False
False
False

Or

In [21]:
print (10 > 2 or 4 < 6) # V or V - V
print (10 > 2 or 4 > 6) # V or F - V
print (10 < 2 or 4 < 6) # V or F - V
print (10 < 2 or 4 > 6) # F or F - F

True
True
True
False

Not

In [22]:
not 10 > 2 # V -F

False

In [23]:
not 10 < 2 # F - V

True

#Variáveis
######Variáveis estão alocadas em espaços na memória

In [24]:
#Nome da variável é "x" que armaxena o valor 10 em um espaço na memória
x=10
print (x) #Utilizar a referencia no nome atribuido

10

Conhecendo o comando Print

In [30]:
y = 10
x = 8
soma = x + y
print (soma)

18

In [27]:
nome = "Rodrigo Rebouças"
print (nome)

Rodrigo Rebouças

## Concatenação

É o processo de combinar ou unir duas ou mais strings, fragmentos de texto ou variáveis em uma única linha

In [31]:
x = 5
print("O valor de x é", x)

O valor de x é 5

In [32]:
print ("O valor de x é", x, "e o dobro é", x * 2)

O valor de x é 5 e o dobro é 10

In [35]:
print ("Eu,", nome, "tirei", x, "na prova de Python")

Eu, Rodrigo Rebouças tirei 5 na prova de Python

In [34]:
y = 10; z = 20 + x - y
print("Declarar variáveis na mesma linha:", y , z)

Declarar variáveis na mesma linha: 10 15

## Type

Type imprime/retorna o tipo/clase de um elemento

In [36]:
x = 10
type(x)
print("x", type(x))

nome = "Rodrigo"
print("nome", type(nome))

num = "100"
num_convert = int(num) #Converter variável
print("num_conver", type(num_convert))

num_float = float(num)
print("num_float", num_float)

x <class 'int'>
nome <class 'str'>
num_conver <class 'int'>
num_float 100.0

## Input
 * Armazenar a informação digitada pelo usuário em uma variável.

 * O dado armazenado sempre será um texto.

In [14]:
nome = input("Digite o nome do usuário: ") # Aguarda o usuário digitar algo
print(nome)

Digite o nome do usuário: Gabf
Gabf

In [15]:
valor = input("Digite a nota: ")
print(nome, "sua nota foi", valor)

Digite a nota: 30
Gabf sua nota foi 30

In [16]:
valor = input("Digite o valor do produto: ")
print(valor)

Digite o valor do produto: 2000
2000

In [17]:
valor_convert = int(valor)
desconto = valor_convert - 5
print(desconto)

1995

In [18]:
desconto = int(valor) - 5
print(desconto)

1995

#Estruturas Condicionais
* If
* If/else
* If/elif/else

In [57]:
# If
if 5 > 10:
    print("Verdade")

In [58]:
# If/else
num1 = 10
num2 = 5
if num1 > num2:
    print ("O num1 é o maior número")
else:
    print ("O num2 é o maior número")

O num1 é o maior número

In [56]:
# If / Elif / Else
num1 = 10
num2 = 10
if num1 > num2:
    print("O num1 é o maior número")
elif num1 < num2:
    print("O num2 é o maior número")
else:
    print(("Os dois são iguais"))

Os dois são iguais

# Condicional com operadores lógicos

In [65]:
num1 = 10
num2 = 5
num3 = 2
if (num1 > num2) and (num1 > num3):
   print("O num1 é o maior número")
else:
    print("O num1 não é o maior número")

O num1 é o maior número

# Listas Valores, Tuplas e Dicionário

In [9]:
#Lista
[1,2,3,4,5]

[1, 2, 3, 4, 5]

In [6]:
#Tupla
(1,2,3,4,5)

(1, 2, 3, 4, 5)

In [8]:
#Dicionário
{"num1": 1, "num2": 2}

{'num1': 1, 'num2': 2}

**Lista**

Numa lista os valores podem ser modificados

In [2]:
lista = [5, "Rodrigo", 8.9]

In [3]:
type(lista)

list

In [4]:
lista.append("Augusto") # Adicionar um elemento na lista

In [5]:
print(lista) #Imprime a lista completa
print(lista[1]) #Imprime o valor da posição desejada de uma lista

[5, 'Rodrigo', 8.9, 'Augusto']
Rodrigo

**Tupla**

Numa tupla os valores constantes ou que não podem ser alterados

In [10]:
tupla = (5, "Rodrigo", 8.9)

In [11]:
type(tupla)

tuple

In [12]:
tupla.append("Augusto") # Não é possível adicionar elementos em uma tupla, este código vai dar erro quando for executado

AttributeError: 'tuple' object has no attribute 'append'

In [24]:
print(tupla) #Imprime a tupla completa

(5, 'Rodrigo', 8.9)

In [25]:
print(tupla[1]) #Imprime o valor da posição desejada de uma tupla

Rodrigo

**Dicionário**

É um tipo de estrutura de dados que armazena itens em pares de valores-chave. Uma chave é um identificador exclusivo de um item e um valor são os dados associados a essa chave.

In [20]:
dicionario = {"nome":"Rodrigo","cidade":"São Paulo"}

In [21]:
type(dicionario)

dict

In [22]:
print(dicionario) #Imprime o dicionário completo

{'nome': 'Rodrigo', 'cidade': 'São Paulo'}

In [23]:
print(dicionario["nome"]) #Imprime um dado específico do dicionário

Rodrigo

In [27]:
dicionario["ultimo_nome"]="Rebouças" #Adiciona um dado ao dicionário

In [28]:
print(dicionario)

{'nome': 'Rodrigo', 'cidade': 'São Paulo', 'ultimo_nome': 'Rebouças'}

# Estruturas de Repetição

* For
* For - Range
* For - Operadores compostos
* While

## **For**

Executa comandos enquando percorre os itens de uma coleção.

*Formas de repetição*
* Range
* Simples
* Enumerate

In [30]:
#For Range
for contador in range(10):
    print(contador)

0
1
2
3
4
5
6
7
8
9

In [31]:
#For Range + Break
for contador in range(1000):
    print(contador)
    if contador == 2:
        break

0
1
2

In [32]:
lista = ["Teste1", "Teste2"]

In [33]:
#For Simples
for val in lista:
    print(val) #Imprime os valores da lista

Teste1
Teste2

In [34]:
#For com enumerate
for i, val in enumerate(lista):
    print(i, val) #Imprime a posição e o valor da lista

0 Teste1
1 Teste2

## **For com Operadores compostos**

Operadores compostos permitem criar um código mais reduzido (eficiente).

+=  |  num += 1 | num = num + 1

-=  |  num -= 1 | num = num - 1

*=  |  num *= 5 | num = num * 5

/=  |  num /= 2 | num = num / 2

%=  |  num %= 2 | num = num % 2

In [35]:
lista2 = [2, 3, 4]
for val in lista2:
    val += 1
    print(val)

3
4
5

In [36]:
for val in lista2:
    val *= 2
    print(val)

4
6
8

## **While**

Executa comandos enquando uma condição for verdadeira.

* Simples
* Else

In [38]:
#While Simples
val = 1
while (val < 6):
    val *=2
    print(val)

2
4
8

In [39]:
#While com else
val = 1
while (val < 6):
    val *=2
else:
    print("Valor de val é ", val)

Valor de val é  8